<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>투두리스트 EJS</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header class="box header">
    <h1>오늘은 <%= currentDate %>일 <%= currentDay %>요일</h1>
    <h4 style="text-decoration: underline"><%= localeDate %></h4>
  </header>
  <section class="box toDo">
    <div class="item">
      <input type="checkbox">
      <p><%=  isWeekend  %>입니다.</p>
    </div>
    <div class="dateTest">
    </div>
    <ul>
      <% for(let i=0; i<items.length; i++){ %>
      <li class="item">
        <input type="checkbox">
        <p><%= items[i] %></p>
      </li>
      <% } %>
    </ul>
    <form class="item form_submit" action="/" method="post">
      <input type="text" name="newList" placeholder="새 할일을 입력하세요." autocomplete="off">
      <button class="btn_submit" type="submit" name="btn_submit">
        +
      </button>
    </form>
  </section>

</html>
</body>
