<%- include("header") -%>
  <header class="box header">
    <h1><%= listTitle %></h1>
    <h4 style="text-decoration: underline"><span class="localeDate"></span></h4>
  </header>
  <section class="box toDo">
    <div class="item">
      <input type="checkbox">
      <p><span class="isWeekend"></span>입니다.</p>
    </div>
    <div class="dateTest">
    </div>
    <ul>
      <% for(let i=0; i<listItems.length; i++){ %>
      <li class="item">
        <input type="checkbox">
        <p><%= listItems[i] %></p>
      </li>
      <% } %>
    </ul>
    <form class="item form_submit" action="/" method="post">
      <input type="text" name="newList" placeholder="새 할일을 입력하세요." autocomplete="off">
      <button class="btn_submit" type="submit" name="listName" value=<%= listName %>>
        +
      </button>
    </form>
  </section>
<%- include("footer") -%>
